.add-more-courses-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-more-courses{
  width: 78vw;
  height: 78vh;
  background: #40414E;
  border: 3px solid #737780;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.amc-searchbox{
  margin: 5vh auto;
  width: 90%;
  height: 3.375rem;
  display: flex;
  align-items: center;
}
.amc-searchbox form{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: #4B4D5C;
  border-radius: 10px;
}
#coursesSearchInput{
  outline: none;
  border: none;
  background-color: #4B4D5C;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: 500;
}
#coursesSearchInput::placeholder {
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: 500;
}
.amc-search-btn{
  width: 13px;
  height: 13px;
  outline: none;
  border: none;
  background: transparent;
  margin: 1.25rem 1.5rem 1.5rem;
}
.amc-courses-container{
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
.all-courses{
  width: 22.5%;
  background: #4B4C5C;
  border-radius: 10px;
  margin-bottom: 1rem;
  border: 2px solid transparent;
}
.all-courses h3{
  font-weight: 600;
  font-size: 18px;
  padding: 0.75rem 0 0.75rem 0.75rem;
  user-select: none;
}
.all-courses p{
  font-weight: 500;
  font-size: 14px;
  padding: 0 0.75rem 1rem 0.75rem;
  user-select: none;
}
.all-courses:hover{
  border: 2px solid #F7E188;
}
.amc-add-btn{
  background: #343540;
  border-radius: 10px;
  padding: 1rem 2rem;
  display: inline-block;
  height: 3.2rem;
  margin: 0 auto;
  margin-top: 1rem;
  font-weight: 600;
  font-size: 16px;
}
.amc-add-btn:hover{
  cursor: pointer;
}
.course-added{
  background: #F7E188 !important;
  color: #343540 !important;
}