@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
.add-more-courses-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow-x: hidden;
}
.add-more-courses{
  width: 80vw;
  height: 85vh;
  background: #40414E;
  border: 3px solid #737780;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: default;
  align-items: center;
}
.amc-searchbox{
  margin: 5vh auto 3vh;
  width: 90%;
  height: 3.375rem;
  display: flex;
  align-items: center;
}
.amc-searchbox form{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: #4B4D5C;
  border-radius: 10px;
}
.coursesSearchInput{
  outline: none;
  border: none;
  background-color: #4B4D5C;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: 500;
}
.amc-searchbox form input{
  font-family: "Montserrat";
}
.coursesSearchInput::placeholder {
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: 500;
}
.amc-search-btn{
  width: 13px;
  height: 13px;
  outline: none;
  border: none;
  background: transparent;
  margin: 1.25rem 1.5rem 1.5rem;
}
.amc-courses-container{
  display: flex;
  width: 90%;
  margin: 2vh auto;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 calc((100% - (4 * 23.5%)) / 3);
  max-height: 60%;
  overflow: auto;
  /* scrollbar-width: none; */
  border: 2px solid transparent;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.5); 
}
::-moz-scrollbar {
  width: 12px;
}
::-moz-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
::-moz-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

.all-courses{
  min-height: 30%;
  width: 22.5%;
  background: #4B4C5C;
  border-radius: 10px;
  margin-bottom: 1rem;
  border: 2px solid transparent;
  cursor: pointer;
}
.all-courses h3{
  font-weight: 600;
  font-size: 1.25rem;
  padding: 0.75rem 0 0.75rem 0.75rem;
  user-select: none;
}
.all-courses p,
.amc-course-title{
  font-weight: 500;
  font-size: .85rem;
  padding: 0 0.75rem 1rem 0.75rem;
  user-select: none;
}


.all-courses:hover{
  border: 2px solid #F7E188;
}
.amc-add-btn{
  background: #343540;
  border-radius: 10px;
  padding: 1rem 2rem;
  display: inline-block;
  height: 3.2rem;
  margin: 0 auto;
  margin-top: 1rem;
  font-weight: 600;
  font-size: 16px;
  position: absolute;
  bottom: 5%;
  cursor: pointer;
}
.amc-add-btn:hover{
  cursor: pointer;
}
.course-added{
  background: #F7E188 !important;
  color: #343540 !important;
}
.no-course-found{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  align-items: center;
  width: 100%;
  height: 100%;
}
.no-course-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-course-text h2{
  font-size: 4.5rem;
  font-weight: 600;
  color: #F7E188;
}
.no-course-text p{
  font-size: 1.25rem;
  font-weight: 300;
  color: #F7E188;
  padding: 0 0.5rem;
}
.course-hidden{
  display: none;
}
@media (max-width: 870px) {
  .amc-courses-container{
    max-height: 65%;
  }
  .all-courses{
    width: 30%;
    min-height: 22.5%;
  }
  .amc-credits{
    display: none;
  }
}
@media (max-width: 470px) {
  .add-more-courses{
    width: 94vw;
    height: 85vh;
  }
  .amc-courses-container{
    margin: .5vh 0;
    justify-content: center;
    max-height: 70%;
  }
  .all-courses{
    min-height: 23.5%;
    width: 48%;
    margin-bottom: .5rem;
  }
  .all-courses h3{
    font-size: 1rem;
  }
  .all-courses p{
    font-size: .75rem;
  }
  .amc-searchbox{
    margin: 3vh auto 2vh;
  }
  .coursesSearchInput::placeholder{
    font-size: .875rem;
  }
  .amc-search-btn{
    margin-right: 1rem;
  }
  .no-course-found{
    gap: 0;
  }
  .no-course-found img{
    height: 80%;
    width: 80%;
  }
  .no-course-text h2{
    font-size: 2rem;
  }
  .no-course-text p{
    font-size: .75rem;
  }
}
@media (max-width: 400px) {
  .amc-add-btn{
    bottom: 2%;
  }
}