.courses-container{
  width: 75vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* overflow: auto; */
  /* scrollbar-width: none; */
}
/* .courses-container::-webkit-scrollbar{
  display: none;
} */

/* Show scrollbar or not */
.courseIsSelectedGreen{
  background-color: #59B386 !important;
  color: #0C0C0D !important;
  
}
.courseIsSelectedGreen .course-div-main-content img{
  filter: brightness(0%);
}
.course-div{
  width: 20vw;
  min-height: 12vh;
  position: relative;
  transition: transform .2s;
  margin-right: 7.5vw;
  margin-bottom: 2vh;
  background-color: #40414E;
  box-shadow: 0px 4px 10px rgba(40, 41, 51, 0.25);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.course-div .course-div-main-content h3{
  font-size: 20px;
  font-weight: 600;
  padding:  1rem 0;
  margin-right: 1rem;
  transition: opacity .2s;
}
.course-div .course-div-main-content img{
  width: 16px;
  height: auto;
  margin-right: 0.75rem;
  margin-left: 1rem;
  transition: opacity .2s;
}
.course-div:nth-child(3n){
  margin-right: 0 !important;
}
.course-div-overlay{
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.5rem;
  font-weight: 600;
  opacity: 0;
  /* overflow: hidden; */
  transition: opacity .2s;
  transition: transform .2s ease-out;
}
.course-overlay-content{
  position: absolute;
  top: 0;
  display: flex;
  gap: .5rem;
  flex-direction: column;
  justify-content: space-evenly;
}
.courseIsSelectedGreen:hover{
  transform: scaleY(1.5) scaleX(1.2);
  z-index: 10;
}
.courseIsSelectedGreen:hover .course-overlay-content{
  transform: scaleY(0.67) scaleX(0.834);
}
.courseIsSelectedGreen:hover .course-div-overlay{
  opacity: 1;
}
.courseIsSelectedGreen:hover h3{
  opacity: 0;
}
.courseIsSelectedGreen:hover img{
  opacity: 0;
}
.courseIsSelectedGreen:hover .course-div-detail{
  opacity: 0;
}
.course-div-main-content{
  display: flex;
  width: 100%;
}
.course-div-detail{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 1rem 0;
}
.course-div-detail h6,
.course-div-detail p{
  margin-left: 1rem;
  font-weight: 400;
  font-size: 14px;
}
.course-div-detail p{
  margin-left: 48%;
}