.courses-container{
  width: 75vw;
  margin: 0 auto 2vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.course-div{
  width: 20vw;
  margin-right: 7.5vw;
  margin-bottom: 2vh;
  background-color: #40414E;
  box-shadow: 0px 4px 10px rgba(40, 41, 51, 0.25);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.course-div h3{
  font-size: 20px;
  font-weight: 600;
  padding:  1rem 0;
  margin-right: 1rem;
}
.course-div img{
  width: 16px;
  height: auto;
  margin-right: 0.75rem;
  margin-left: 1rem;
}
.course-div:nth-child(3n){
  margin-right: 0 !important;
}