.courses-container{
  width: 75vw;
  margin: 0 auto 2vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-height: 19vh;
  /* overflow: auto; */
  /* scrollbar-width: none; */
}
/* .courses-container::-webkit-scrollbar{
  display: none;
} */

/* Show scrollbar or not */
.courseIsSelectedGreen{
  background-color: #59B386 !important;
  color: #0C0C0D !important;
}
.courseIsSelectedGreen img{
  filter: brightness(0%);
}
.course-div{
  width: 20vw;
  height: 8vh;
  margin-right: 7.5vw;
  margin-bottom: 2vh;
  background-color: #40414E;
  box-shadow: 0px 4px 10px rgba(40, 41, 51, 0.25);
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.course-div h3{
  font-size: 20px;
  font-weight: 600;
  padding:  1rem 0;
  margin-right: 1rem;
}
.course-div img{
  width: 16px;
  height: auto;
  margin-right: 0.75rem;
  margin-left: 1rem;
}
.course-div:nth-child(3n){
  margin-right: 0 !important;
}