.course-list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.course-list-cards{
  margin-bottom: 2vh;
}
.course-list-footer{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.courses-heading{
  font-size: 2rem;
  font-weight: 600;
  margin-top: 4vh;
  margin-bottom: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#more-courses-heading{
  margin-bottom: 3vh;
}
.courses-heading span{
  display: flex;
  justify-content: center;
  align-items: center;
}
.courses-heading span img{
  width: 25px;
  height: 25px;
  margin-right: 0.75rem;
}
.horizontal-line{
  width: 75vw;
  height: 2px;
  background-color: #5C5F66;
  margin: 2vh auto ;
}
.errorpara{
  color: #F7E188;
  margin-bottom: 1.5rem;
  text-align: center;
}
.last-update{
  text-align: center;
  font-weight: bold;
}
@media (max-width: 470px) {
  .courses-heading{
    font-size: 1.25rem;
  }
  .horizontal-line{
    margin: 1vw auto;
  }
  #more-courses-heading{
    margin-top: 2vh;
  }
  .errorpara{
    font-size: .75rem;
  }
  .last-update{
    font-size: .75rem;
  }
}