
.dev-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}
.dev-container {
  height: 80%;
  width: 80%;
  text-align: center;
  position: relative;
  border-radius: 10px;
  border: 3px solid #737780;
  background: #40414e;
}
.dev-cross-btn {
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 3%;
  transform: scale(1.5);
}
.dev-title {
  margin-top: 1.5rem;
  font-size: 2rem;
  font-weight: 600;
}
.dev-teams-wrapper {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dev-teams {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.team-logo {
  background-color: #303140;
  height: 20vh;
  width: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
.team-logo img{
    height: 15vh;
    width: 15vh;
}
.dev-teams p {
  margin-top: 1rem;
  font-weight: 600;
  font-size: 1.5rem;
}
#member-name{
    font-size: 1.5rem;
}
.team-back{
    height: 8%;
    width: 100%;
}
.team-back-btn{
    margin-bottom: 1rem;
    margin-left: 2rem;
    width: 10%;
    height: 100%;
    border-radius: 8.878px;
    background: #F7E188;
    color: #343540;
    font-weight: 600;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}
.team-back-btn img{
    margin-top: .15rem;
    height: 50%;
}
.team-member{
    background-color: transparent;
    height: 32vh;
    width: 25vh;
    background-position: center;
}
.team-member img{
    border: 2px solid #A0A0A0;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.team{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.socials{
    width: 25vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 4vh;
    margin-top: .5rem;
    padding: 0 2rem;
}
.socials img{
    height: 3vh;
}
.member-desc{
    font-size: .85rem;
}
@media (max-width: 870px) {
    #member-name{
        display: block;
        font-size: 1rem;
    }
    .team-logo{
        background-color: transparent;
        height: 15vh;
        width: 15vh;
    }
    .team-logo img{
        height: 12vh;
        width: 12vh;
    }
    .team-member{
        height: 18vh;
        width: 15vh;
    }
    .team-member img{
        height: 100%;
        width: 100%;
    }
    .team-back-btn{
        margin-top: 3rem;
        margin-left: 1rem;
        height: 5vh;
        width: 17%;
    }
    .dev-teams{
        height: 110%;
        margin-top: 4rem;
        flex-direction: column;
    }
    #dev-members{
        flex-direction: row;
        align-items: center;

    }
    .dev-teams p{
        display: none;
    }
    .socials{
        width: 15vh;
        height: 3vh;
        padding: 0 1.5rem;
    }
    .socials img{
        height: 2vh;
    }
    .member-desc{
        font-size: .75rem;
    }
}
@media (max-width: 470px) {
    #dev-members{
        height: 85%;
        /* align-items: baseline; */
    }
    .dev-container{
        height: 80%;
    }
    .dev-title{
        font-size: 1.5rem;
    }
    .dev-cross-btn{
        top: 4%;
        right: 6%;
        transform: scale(1.3);
    }
    .dev-teams{
        margin-top: 3rem;
    }
    .team-back{
        display: flex;
        justify-content: center;
    }
    .team-back-btn{
        width: 30%;
        margin-left: 0;
        margin-top: 1rem;
    }
    .team-back-btn img{
        display: none;
    }
    #member-name{
        font-size: .75rem;
    }
    .member-desc{
        font-size: .5rem;
    }
    .socials{
        margin-top: .25rem;
    }
}
@media (max-width: 400px) {
    .dev-container{
        height: 92%;
    }
    .dev-cross-btn{
        top: 4.5%;
    }
    #dev-members{
        height: 80%;
    }
}