.course-buttons-container{
  display: flex;
  gap: 0.75rem;
  margin-bottom: 4vh;
}
.course-buttons{
  background: #F7E188;
  border-radius: 10px;
  padding: 1rem 0.5rem;
  width: 18vw;
  color: #343540;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.course-buttons:hover{
  cursor: pointer;
}
.course-buttons img{
  margin-left: 0.5rem;
}
@media (max-width: 890px) {
  .course-buttons{
    width: 30vw;
  }
}
@media (max-width: 470px) {
  
  .course-buttons{
    width: 45vw;
    font-size: .65rem;
  }
}