.cell-cover{
    border-radius: 5px;
    height: 95%;
    width: 97%;
    font-weight: 600;
    padding-top: .25rem;
    padding-left: .25rem;
    padding-right: 1rem;
}
.cell-cover > div{
    display: flex;
    justify-content: space-between;
}
.cell-content{
    margin-top: .25rem;
    margin-bottom: .5rem;
}
.cell-content > div{
    display: flex;
}
.cell-content img{
    margin-right: .25rem;
}
.cell-section{
    margin-right: .75rem;
}