.cell-cover{
    position: relative;
    border-radius: 5px;
    height: 95%;
    width: 97%;
    font-weight: 600;
    padding-top: .25rem;
    padding-left: .25rem;
    padding-right: 1rem;
    cursor: pointer;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform .2s ease-out;
    backface-visibility: hidden;

}
.cell-content{
    display: flex;
    justify-content: space-between;
}
.cell-heading{
    transition: opacity .2s;
    transition: transform .2s ease-out;
}
.cell-content{
    margin-top: .25rem;
    margin-bottom: .5rem;
    transition: opacity .2s;
    transition: transform .2s ease-out;
}
.cell-content > div{
    display: flex;
}
.cell-content img{
    margin-right: .25rem;
}
.cell-section{
    margin-right: .75rem;
}
.cell-overlay{
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    font-size: .75rem;
    backface-visibility: hidden;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-style: preserve-3d;
    transition: opacity .2s;
    transition: transform .2s ease-out;
}
.cell-overlay-content{
    margin-top: .25rem;
    margin-left: .25rem;
    position: relative;
}
.cell-overlay-instructors{
    margin-top: .25rem;
    font-weight: 300;
    font-size: .5rem;
}
.cell-overlay-mobile{
    display: none;
}
.cell-cover:hover{
    transform: scale(1.5);
    z-index: 10;
    box-shadow: 0px 0px 9px 6px rgba(0, 0, 0, 0.25); 
}
.cell-cover:hover .cell-content{
    opacity: 0;
}
.cell-cover:hover .cell-heading{
    opacity: 0;
}
.cell-cover:hover .cell-overlay{
    opacity: 1;
    font-size: .5rem;
}
.cell-cover:hover .cell-overlay-instructors{
    font-size: .45rem;
}
@media (max-width: 470px) {
    .cell-cover{
        padding-right: .25rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cell-content > div{
        display: none;
    }
    .cell-heading{
        margin-left: .5rem;
    }
    .cell-overlay-instructors{
        display: none;
    }
    .cell-cover:hover{
        transform: scaleY(1.4) scaleX(2.2);
        padding: 0;
        margin: 0;
    }
    .cell-cover:hover .cell-overlay-content{
        transform: scaleY(0.70) scaleX(0.5);
    }
    .cell-overlay-mobile{
        margin-top: .15rem;
        display: flex;
    }
    .cell-section{
        display: flex;
        transform: scale(.8);
        margin-left: -.25rem;
    }
    .cell-room{
        display: flex;
        transform: scale(.8);
    }
    .cell-overlay-content{
        margin-top: .5rem;
        margin-left: -.5rem;
    }
}
@media (max-width: 400px) {
    .cell-overlay-content{
        margin-top: 0.15rem;
    }
    .cell-overlay-mobile{
        margin-top: 0;
    }
    .cell-heading{
        margin-left: .25rem;
    }
}