/* grid-row: span 2 */


.table{
    height: 75vh;
    width: 65vw;
    border-radius: 7.626px;
    border: 1.144px solid #C9C9C9;
    background: #2B2C35;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.table > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: .55px solid #C9C9C9;
    font-weight: 700;
}
.table-days-cells{
    grid-row: 1/2;
}
.table-hours-cells{
    grid-column: 1/2;
}
