/* grid-row: span 2 */


.table{
    height: 72vh;
    width: 60%;
    border-radius: 7.626px;
    border: 1.144px solid #C9C9C9;
    background: #2B2C35;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border-collapse: collapse;
    font-size: .75rem;
}
.table > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: .55px solid #C9C9C9;
    font-weight: 600;
}
.table-data-indents {
    display: flex;
    justify-content: center;
    align-items: center;
    border: .55px solid #C9C9C9;
    font-weight: 600;
}
.table-days-cells{
    grid-row: 1/2;
}
.table-hours-cells{
    grid-column: 1/2;
}
.mobile-view{
    display: none;
}
.highlited .cell-cover{
    background-color: #f7e188 !important;
    color: black;
}
.highlited img{
    filter: brightness(0);
}
@media (max-width: 1290px) {
    .table{
        width: 70%;
    }
}
@media (max-width: 870px) {
    .table{
        width: 90%;
    }
}
@media (max-width: 470px) {
    .table{
        font-size: .65rem;
    }
    .mobile-view{
        display: block;
    }
    .laptop-view{
        display: none;
    }
}