.units-heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  color: #ffffff;
  text-align: center;
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}
.units-heading span {
  color: #f7e188;
  font-weight: 600;
}
.units-paragraph {
  color: #f2f2f2;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-bottom: 0.75rem;
}
.margin-bottom-05 {
  margin-bottom: 0.5rem;
}
.margin-bottom-325 {
  margin-bottom: 3.25rem;
}
.table-container {
  width: 100%;
}
.table-area {
  display: flex;
  justify-content: center;
}
.timetableButtons {
  display: flex;
  justify-content: center;
  margin: 0.75rem 0;
  gap: 0.5rem;
}
.timetableNumber {
  border-radius: 32px;
  background: #40414e;
  display: flex;
  align-items: center;
  padding: 0.25rem 0.75rem;
}
.timetableNumberData {
  margin: 0 1rem;
  font-weight: 600;
  font-size: 15pxs;
}
.downloadButton {
  border-radius: 32.95px;
  background: #f7e188;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}
.nextprevarrow {
  scale: 1.5;
  cursor: pointer;
}
.backButton {
  position: fixed;
  top: 5%;
  left: 3%;
  cursor: pointer;
}
.units-paragraph a{
  color: #f7e188;
  text-decoration: underline;
}
@media (max-width: 900px) {
  .backButton{
    position: fixed;
    top: 2%;
    left: 3%;
    cursor: pointer;
  }
}
@media (max-width: 470px) {
  .units-heading {
    font-size: 18px;
    margin-top: 0.75rem;
  }
  .units-paragraph {
    font-size: 10px;
    margin-bottom: 0.75rem;
  }
  .backButton{
    top: 2.25%;
    left: 4%;
  }
}
@media (max-width: 400px) {
  .units-heading {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
  }
  .units-paragraph{
    margin-bottom: .25rem;
  }
}
