.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
footer {
  position: absolute;
  bottom: 0.5rem;
  width: 100%;
  text-align: center;
}
@media (max-width: 470px) {
  footer {
    font-size: 0.5rem;
  }
}

