@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Montserrat Italic";
  src: url(fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active,
input:-webkit-autofill::first-line,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  border-radius: 0;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #40414e inset !important;
  transition: background-color 5000s ease-in-out 0s;
  font-size: 2rem;
  font-family: "Montserrat" !important;
  font-weight: 500;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  /* backface-visibility: hidden; */
  user-select: none;
  /* filter: none; 
-webkit-filter: blur(0px); 
-moz-filter: blur(0px); 
-ms-filter: blur(0px); */
}
body{
  background-color: #343540;
  background-image: url(assets/background.png);
  font-family: "Montserrat";
  color: white;
  background-size: cover;
}
