@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Montserrat Italic";
  src: url(fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}

:root {
  --bg--color: #343540
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--bg--color);
  background-image: url(assets/background.png);
  font-family: "Montserrat";
  color: white;
  background-size: cover;
}