.error1componentcontainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error1component{
  width: 78vw;
  height: 78vh;
  background: #40414E;
  border: 3px solid #737780;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}
.crossicon{
  position: absolute;
  right:3vw;;
  top: 3vw;
  cursor: pointer;
  scale: 1.5;
}
.error1componentpara{
  color: #F7E188;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 400;
  padding: 0 20%;
  text-align: center;
}
.mobile-error{
  display: none;
}
.compre-clash-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: .75rem;
}
.clash-yes-no{
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 1rem;
}
.clash-yes, .clash-no{
  height: 5vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
  border: 2px solid #F7E188;
  border-radius: 2px;
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
}
.clash-yes:hover{
  background-color: #F7E188;
  color: #40414E;
}
.clash-no:hover{
  background-color: #F7E188;
  color: #40414E;
}
.clashing-courses{
  text-align: center;
  margin-bottom: 2rem;
}
.compre-clash p{
  text-align: center;
}
@media (max-width: 470px) {
  .crossicon{
    top: 5vw;
    row-gap: 5vw;
  }
  .laptop-error{
    display: none;
  }
  .mobile-error{
    display: block;
  }
  .error1componentpara{
    font-size: 16px;
    padding: 0 5%;
  }
  .compre-clash{
    font-size: .85rem;
  }
  .clash-yes-no{
    width: 75%;
  }
}